:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
  "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
  "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: none;
  --secondary-glow: none;

  --tile-start-rgb: 255, 255, 255;
  --tile-end-rgb: 255, 255, 255;
  --tile-border: none;

  --callout-rgb: 255, 255, 255;
  --callout-border-rgb: 255, 255, 255;
  --card-rgb: 255, 255, 255;
  --card-border-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: none;
    --secondary-glow: none;

    --tile-start-rgb: 0, 0, 0;
    --tile-end-rgb: 0, 0, 0;
    --tile-border: none;

    --callout-rgb: 0, 0, 0;
    --callout-border-rgb: 0, 0, 0;
    --card-rgb: 0, 0, 0;
    --card-border-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-end-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
